<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>管理联系人</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/contact.css">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">返回首页</a>
          </div>
        </div>
    </nav>

    
    <div id="app">
        <div class="container"> 
            <div class="col-xs-9">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <td>first_name</td>
                            <td>last_name</td>
                            <td>email</td>
                            <td>description</td>
                        </thead>
                        <tbody>
                            <tr v-for="ct in contacts">
                                <td>{{ ct.first_name }}</td>
                                <td>{{ ct.last_name }}</td>
                                <td>{{ ct.email }}</td>
                                <td>{{ ct.description }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>    
        </div>
    </div>
    

    <script src="js/lib/vue.js"></script>
    <script src="js/lib/vue-resource.js"></script> 
    <script src="js/contact.js"></script> 
    
</body>

</html>
