<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>管理联系人</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/contact.css">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">首页</a>
          </div>
          <div class="navbar-header">
            <a class="navbar-brand" href="/addcontact">添加联系人</a>
          </div>
        </div>
    </nav>

    
    <div id="app">
        <!--
        <div class="container" align="right">
            <div class="form-group">
                <button class="btn btn-primary" onclick="createContact()">Create</button>
            </div>
        </div>
        -->
        <div class="container"> 
            <div class="col-xs-9">
                <!-- <div class="table-responsive"> -->
                <div class="col-md-6">
                    <table class="table table-striped">
                        <thead>
                            <td>first_name</td>
                            <td>last_name</td>
                            <td>email</td>
                            <td>description</td>
                            <td>delete</td>
                            <td>modify</td>
                        </thead>
                        <tbody>
                            <tr v-for="ct in contacts">
                                <td>{{ ct.first_name }}</td>
                                <td>{{ ct.last_name }}</td>
                                <td>{{ ct.email }}</td>
                                <td>{{ ct.description }}</td>
                                <td>
                                    <button class="btn btn-sm btn-danger" onclick="deleteEntry({{ ct.id }})">delete</button>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-danger" onclick="modifyEntry({{ ct.id }})">modify</button>
                                </td>
                            </tr>                           
                        </tbody>
                    </table>
                </div>
            </div>    
        </div>
    </div>

    <script src="js/lib/vue.js"></script>
    <!-- <script src="js/lib/vue-resource.js"></script> -->
	<script src="js/utility/helper.js"></script>
	<script src="js/utility/backend_helper.js"></script>
    <script src="js/contact_delete_modify.js"></script> 
    
    <!--
    <script>
        function createContact()    {
            window.location.href='./addcontact'
        }
    </script>
    -->
</body>
</html>
