<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>管理联系人</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
        body {
            background-color: #F2F2F0;
        }

        .navbar {
            background-color: #373737;
            padding: 5px;
        }

        .navbar a {
            color: #8C8C8C;
            font-size: 1.5em;
        }

        .coligo {
            color: #D0D0D0;
            font-size: 0.8em;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse" style="border-radius: 0px;">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">管理联系人信息<span class="coligo"> | WXM</span></a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>联系人</h3>
                <!-- <h4 class="header"><a href="/contacts">查看</a></h4> -->
                <h4 class="header"><a href="/contactmd">管理</a></h4>
                <!-- <h4 class="header"><a href="/addcontact">添加</a></h4> -->
                <h3>关于</h3>
                <h4 class="header"><a href="/">Homepage</a></h4>
                <h4 class="header"><a href="/about">About Us</a></h4>
            </div>
        </div>
    </div>
</body>
</html>
